.Authentificating
    height: 90vh
    .AuthentificatingDiv
        width: 60%
        height: 95%
        transition: 5.5s
        position: relative
    span
        color: purple !important
        cursor: pointer
    .switcher-signup,
    .switcher-login
        background-color: #2b0c34
        transition: 0.5s ease
    .switcher-login
        margin-right: 50%

    .signup,
    .login
        input
            width: 80%
            height: 7%
